$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

$font-xl: 48px;
$font-lg: 32px;
$font-md: 20px;
$font-sm: 16px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.background_overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  .modal_form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  header {
    min-height: auto;
    // height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .logo_login_container {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .logo_container {
        display: flex;
        align-items: center;
        h1 {
          margin: 0;
          padding: 0;
        }
        .logo {
          height: 60px;
          width: 60px;
        }
      }
      .login_container {
        display: flex;
        gap: 10px;
        margin-right: 50px;
        align-items: center;
        button {
          padding: 5px 10px;
          background-color: lightgray;
          cursor: pointer;
          &:hover {
            background-color: gray;
            color: white;
          }
        }
      }
    }
  }
  main {
    display: flex;
    min-height: 900px;
    flex: 1 1 auto;
    .main_container {
      width: 80%;
      overflow-y: auto;
      nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        button {
          width: auto;
          text-align: center;
          background-color: lightgray;
          cursor: pointer;
          &:hover {
            background-color: gray;
            color: white;
          }
        }
      }
      .main_container_gallery {
        width: 100%;
        overflow-y: auto;
        #capture {
          width: 100%;
          padding: 5px 10px;
          background-color: lightgray;
          cursor: pointer;
          &:hover {
            background-color: gray;
            color: white;
          }
        }
        .my_img_wrapper {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .my_img {
            width: 200px;
            height: auto;
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
            button {
              width: 100%;
              padding: 5px 10px;
              background-color: lightgray;
              cursor: pointer;
              &:hover {
                background-color: gray;
                color: white;
              }
            }
          }
        }
        .gallery_card_wrapper {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
          .card_buttons {
            display: flex;
            justify-content: center;
            .card_like {
              border: 1px solid black;
              padding: 5px 10px;
              background-color: lightgray;
              cursor: pointer;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: gray;
                color: white;
              }
            }
            .liked {
              border: 1px solid black;
              padding: 5px 10px;
              background-color: lightgray;
              cursor: pointer;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: gray;
                color: white;
              }
            }
            .card_comment_button {
              border: 1px solid black;
              padding: 5px 10px;
              background-color: lightgray;
              cursor: pointer;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: gray;
                color: white;
              }
            }
            .add_comment_button {
              border: 1px solid black;
              padding: 5px 10px;
              background-color: lightgray;
              cursor: pointer;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: gray;
                color: white;
              }
            }
            .create_img_with_button {
              border: 1px solid black;
              padding: 5px 10px;
              background-color: lightgray;
              cursor: pointer;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: gray;
                color: white;
              }
            }
          }
          .card_comments {
            display: none;
            flex-direction: column;
            gap: 5px;
            height: 150px;
            overflow-x: auto;
            .comment {
              border: 1px solid black;
              display: flex;
              gap: 10px;
            }
          }
        }
        #video {
          width: 100%;
          pointer-events: none;
        }
      }
    }
    .main_side {
      width: 20%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      margin-left: 10px;
      .main_side_page {
        display: flex;
        #previous_page,
        #next_page {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #page_numbers {
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #page_numbers {
          button,
          label {
            flex: 1;
          }
          label {
            text-align: center;
          }
        }
      }
      .main_side_gallery {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
        .gallery_card_wrapper {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            cursor: pointer;
          }
          .card_buttons {
            display: flex;
            justify-content: center;
            .card_like {
              border: 1px solid black;
              padding: 5px 10px;
              background-color: lightgray;
              cursor: pointer;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: gray;
                color: white;
              }
            }
            .card_comment_button {
              border: 1px solid black;
              padding: 5px 10px;
              background-color: lightgray;
              cursor: pointer;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: gray;
                color: white;
              }
            }
          }
          .card_comments {
            display: none;
            flex-direction: column;
            gap: 5px;
            height: 150px;
            overflow-x: auto;
            .comment {
              border: 1px solid black;
              display: flex;
              gap: 10px;
            }
          }
        }
      }
    }
  }
  footer {
    height: 10%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container {
    header {
      min-height: auto;
      .logo_login_container {
        flex-direction: column;
        .logo_container {
          margin-bottom: 10px;
        }
      }
      nav {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    main {
      flex-direction: column;
      width: 100%;
      .main_container {
        width: 100%;
      }
      .main_side {
        order: -1;
        width: 100%;
        max-height: 30%;
        .main_side_gallery {
          flex-direction: row;
          overflow-x: auto;
          overflow-y: hidden;
          .gallery_card_wrapper {
            flex-wrap: nowrap;
            img {
              height: 40%;
            }
            .card_comments {
              overflow-y: auto;
              .comment {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
