$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

$font-xl: 48px;
$font-lg: 32px;
$font-md: 20px;
$font-sm: 16px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  header {
    border: 1px solid black;
    min-height: auto;
    // height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .logo-login-container {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .logo-container {
        display: flex;
        align-items: center;
        h1 {
          margin: 0;
          padding: 0;
        }
        .logo {
          height: 60px;
          width: 60px;
          border: 1px solid green;
        }
      }
      .login-container {
        display: flex;
        gap: 10px;
        margin-right: 50px;
        align-items: center;
        button {
          padding: 5px 10px;
          border: 1px solid black;
          background-color: lightgray;
          cursor: pointer;
          &:hover {
            background-color: gray;
            color: white;
          }
        }
      }
    }
    nav {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      border: 5px solid rgb(255, 0, 0);
      div {
        width: auto;
        text-align: center;
        border: 5px solid rgb(0, 0, 0);
        background-color: aquamarine;
        cursor: pointer;
        &:hover {
          background-color: yellow;
        }
      }
    }
  }
  main {
    display: flex;
    border: 5px solid rgb(4, 255, 0);
    // height: 80%;
    min-height: 900px;
    flex: 1 1 auto;
    .main-container {
      border: 5px solid rgb(255, 0, 255);
      width: 80%;
    }
    .main-side {
      border: 5px solid rgb(0, 17, 255);
      width: 20%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      .main-side-page {
        border: 5px solid rgb(255, 255, 0);
        display: flex;
        #previous-page,
        #next-page {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #page-numbers {
          flex: 2;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #page-numbers {
          button,
          label {
            flex: 1;
          }
          label {
            text-align: center;
          }
        }
      }
      .main-side-gallery {
        border: 5px solid rgb(0, 255, 34);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
        .gallery-card-wrapper {
          border: solid 5px rgb(255, 0, 0);
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
          .card-buttons {
            display: flex;
            justify-content: center;
            .card-like {
              border: 1px solid black;
              padding: 5px 10px;
              background-color: lightgray;
              cursor: pointer;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: gray;
                color: white;
              }
            }
            .card-comment-button {
              border: 1px solid black;
              padding: 5px 10px;
              background-color: lightgray;
              cursor: pointer;
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: gray;
                color: white;
              }
            }
          }
          .card-comments {
            border: 5px solid rgb(255, 0, 255);
            display: none;
            flex-direction: column;
            gap: 5px;
            height: 150px;
            overflow-x: auto;
            .comment {
              border: 1px solid black;
              display: flex;
              gap: 10px;
            }
          }
        }
      }
    }
  }
  footer {
    border: 5px solid blue;
    height: 10%;
  }
}

@media (max-width: 768px) {
  .container {
    header {
      min-height: auto;
      .logo-login-container {
        flex-direction: column;
        .logo-container {
          margin-bottom: 10px;
        }
      }
      nav {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    main {
      flex-direction: column;
      width: 100%;

      .main-side {
        order: -1;
        width: 100%;
        max-height: 30%;
        .main-side-gallery {
          flex-direction: row;
          overflow-x: auto;
          overflow-y: hidden;
          .gallery-card-wrapper {
            flex-wrap: nowrap;
            img {
              height: 40%;
            }
            .card-comments {
              overflow-y: auto;
              .comment {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
